{% extends "layouts/base-auth.html" %}

{% load i18n account static %}

{% block title %}
    {% trans "Password Reset" %}
{% endblock title %}

{% block main %}
    <main class="main-content mt-0">
        <section>
            <div class="page-header min-vh-100">
                <div class="container">
                    <div class="row">
                        <div class="col-xl-4 col-lg-5 col-md-7 d-flex flex-column mx-lg-0 mx-auto">
                            <div class="card card-plain">
                                <div class="card-header pb-0 text-left bg-transparent">
                                    <h3 class="font-weight-bolder text-primary text-gradient">Password Reset</h3>
                                </div>
                                <div class="card-body">
                                    {% if user.is_authenticated %}

                                        {% include "account/snippets/already_logged_in.html" %}

                                    {% endif %}
                                    <p>
                                        {% blocktrans %}
                                    We have sent you an e-mail!<br /><br />
                        
                                    If you have not received it please check your spam folder.
                                    Otherwise contact us if you do not receive it in a few minutes.
                                    {% endblocktrans %}
                                    </p>
                                    <div class="text-center">
                                        <a class="btn bg-gradient-primary w-100 mt-4 mb-0" href="{% url 'pages:home' %}">Go back home</a>
                                    </div>
                                </div>
                            </div>
                            <div class="col-6 d-lg-flex d-none h-100 my-auto pe-0 position-absolute top-0 end-0 text-center justify-content-center flex-column">
                                <div class="position-relative bg-gradient-primary h-100 m-3 px-7 border-radius-lg d-flex flex-column justify-content-center">
                                    <img src="{% static 'assets/img/shapes/pattern-lines.svg' %}"
                                         alt="pattern-lines"
                                         class="position-absolute opacity-4 start-0" />
                                    <div class="position-relative">
                                        <img class="max-width-500 w-100 position-relative z-index-2"
                                             src="{% static 'assets/img/illustrations/chat.png' %}"
                                             alt="chat-img" />
                                    </div>
                                    <h4 class="mt-5 text-white font-weight-bolder">"Attention is the new currency"</h4>
                                    <p class="text-white">
                                        The more effortless the writing looks, the more effort the writer actually put into the process.
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </main>
{% endblock main %}
