{% extends "layouts/base-sidebar.html" %}

{% block title %}
    Dashboard {{ property.name }}
{% endblock title %}

{% block breadcrumb %}
    Dashboard
{% endblock breadcrumb %}

{% block page_title %}
    {{ property.name }}
{% endblock page_title %}

{% block main %}
    <h5>{{ object.name }} - Dashboard</h5>
    <!-- Button trigger modal -->
    <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
        Launch demo modal
    </button>
{% endblock main %}

{% block modal %}
    <!-- Modal -->
    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-fullscreen">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="exampleModalLabel">Modal title</h1>
                    <button type="button" class="btn-close text-dark" data-bs-dismiss="modal" aria-label="Close">
                        <i class="bi bi-x-lg cursor-pointer" aria-label="Close"></i>
                    </button>
                </div>
                <div class="modal-body">
                    <h2 class="fs-5">Popover in a modal</h2>
                    <p>
                        This
                        <button class="btn btn-secondary"
                                data-bs-toggle="popover"
                                title="Popover title"
                                data-bs-content="Popover body content is set in this attribute.">button</button>
                        triggers a popover on click.
                    </p>
                    <hr />
                    <h2 class="fs-5">Tooltips in a modal</h2>
                    <p>
                        <a href="#" data-bs-toggle="tooltip" title="Tooltip">This link</a> and <a href="#" data-bs-toggle="tooltip" title="Tooltip">that link</a> have tooltips on hover.
                    </p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary">Save changes</button>
                </div>
            </div>
        </div>
    </div>
{% endblock modal %}
