{% extends "layouts/base-sidebar.html" %}

{% block title %}
    Schedule | {{ property.name }}
{% endblock title %}

{% block breadcrumb %}
    Schedule
{% endblock breadcrumb %}

{% block page_title %}
    {{ property.name }}
{% endblock page_title %}

{% block extra_css %}
    <link rel="stylesheet" href="https://uicdn.toast.com/calendar/latest/toastui-calendar.min.css" />
{% endblock extra_css %}

{% block main %}
    <div class="card mb-3">
        <div class="card-header">
            <h5>
                <a href="{% url 'portal:schedule' property.slug %}" class="icon-move-left">
                    <i class="bi bi-chevron-left me-2" aria-hidden="true">
                    </i>
                    {{ room.name }}
                </a>
            </h5>
        </div>
        <div class="card-body p-3">
            <div class="table-responsive">
                <table class="table table-sm table-hover align-items-center align-middle">
                    {% with occurrences=room.occurrences.all %}
                        <tbody>
                            <tr>
                                <td>
                                    <p class="mb-0">Date</p>
                                </td>
                                {% for occ in occurrences %}
                                    <td>
                                        <p class="mb-0">{{ occ.for_date|date:"D d" }}</p>
                                    </td>
                                {% endfor %}
                            </tr>
                            <tr>
                                <td>
                                    <p class="mb-0">Available</p>
                                </td>
                                {% for occ in occurrences %}
                                    <td>
                                        <p class="mb-0">{{ occ.availability }}</p>
                                    </td>
                                {% endfor %}
                            </tr>
                            <tr>
                                <td>
                                    <p class="mb-0">Rate</p>
                                </td>
                                {% for occ in occurrences %}
                                    <td>
                                        <p class="mb-0">{{ occ.rate }}</p>
                                    </td>
                                {% endfor %}
                            </tr>
                        </tbody>
                    {% endwith %}
                </table>
            </div>
        </div>
    </div>
    <div class="card mt-3 overflow-y-scroll">
        <div class="card-header">
            <h5>Toast UI Calendar</h5>
        </div>
        <div class="card-body overflow-y-scroll" id="calendar" style="height: 900px;"></div>
        <div class="card-footer" id="clicked-event"></div>
    </div>
{% endblock main %}

{% block js %}
    {{ rates|json_script:"rates" }}
    <script src="https://uicdn.toast.com/calendar/latest/toastui-calendar.min.js"></script>
    <script>
         const Calendar = tui.Calendar;

         // Calendar configuration
         const options = {
              usageStatistics: false,
              useDetailPopup: true,
              defaultView: 'week',
              timezone: {
                   zones: [{
                        timezoneName: 'Europe/London',
                        displayLabel: 'London',
                   }],
              },
              calendars: [{
                   id: 'cal1',
                   name: 'Personal',
                   backgroundColor: '#03bd9e',
              }, {
                   id: 'cal2',
                   name: 'Work',
                   backgroundColor: '#00a9ff',
              }],
         };

         const calendar = new Calendar('#calendar', options);

         // Create all the events
         calendar.createEvents([{
              id: 'event1',
              calendarId: 'cal2',
              title: 'Weekly meeting',
              start: '2023-11-07T09:00:00',
              end: '2023-11-07T10:00:00',
         }, {
              id: 'event2',
              calendarId: 'cal1',
              title: 'Lunch appointment',
              start: '2023-11-08T12:00:00',
              end: '2023-11-08T13:00:00',
         }, {
              id: 'event3',
              calendarId: 'cal2',
              title: 'Vacation',
              start: '2023-11-08',
              end: '2023-11-10',
              isAllday: true,
              category: 'allday',

         }, ]);

         // Event handlers
         calendar.on('clickEvent', (obj) => {
              const el = document.getElementById('clicked-event');
              el.innerText = obj.event.title;
         });
    </script>
{% endblock js %}
