{% load static i18n %}

<!DOCTYPE html>
{% get_current_language as LANGUAGE_CODE %}
<html lang="{{ LANGUAGE_CODE }}">
    <head>
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="ROBOTS" content="ALL" />
        <meta name="author" content="IndieCactus Team" />
        <meta name="Copyright" content="IndieCactus Team" />
        <meta name="keywords" content="Hostels, Hotels, Bed and Breakfast, Argentina" />
        {# djlint:off #}
        <meta name="description" content="{% block description %}
        IndieCactus provides an easy way to book hostels, hostels, bed and breakfast and camping sites all over Argentina.{% endblock description %}" />
        
        {% block og_tags %}
         
        <meta property="og:title" content="{% block og_title %}IndieCactus{% endblock og_title %}" />
        <meta property="og:description" content="{% block og_description %}{% spaceless %}Book your accomodation in Argentina.{% endspaceless %}{% endblock og_description %}" />
        <meta property="og:image" content="{% block og_img %}{% static "assets/logos/logo.png" %}
        {% endblock og_img %}" />
        <meta property="og:image:alt" content="{% block og_img_alt %}IndieCactus logo
        {% endblock og_img_alt %}" />
        <meta property="og:image:width" content="{% block og_img_w %}1200{% endblock og_img_w %}" />
        <meta property="og:image:height" content="{% block og_img_h %}546{% endblock og_img_h %}" />
        <meta property="og:image:type" content="image/png" />
        <meta property="og:url" content="{{ request.build_absolute_uri }}" />
        <meta property="og:site_name" content="IndieCactus" />
        
        <meta property="twitter:creator" content="IndieCactus" />
        <meta property="twitter:site" content="IndieCactus" />
        <meta property="twitter:card" content="{% block twitter_card %}Summary{% endblock twitter_card %}">
        
        {% endblock og_tags %}

        <link rel="icon" type="image/png" href="{% static 'assets/logos/logo.png' %}" />
        <link rel="apple-touch-icon" sizes="180x180" href="{% static 'assets/logos/apple-touch-icon.png' %}">
        <link rel="icon" type="image/png" sizes="32x32" href="{% static 'assets/logos/favicon-32x32.png' %}">
        <link rel="icon" type="image/png" sizes="16x16" href="{% static 'assets/logos/favicon-16x16.png' %}">
        <link rel="manifest" href="{% static 'assets/logos/site.webmanifest' %}">
        <link rel="mask-icon" href="{% static 'assets/safari-pinned-tab.svg' %}" color="#000000">
        <meta name="msapplication-TileColor" content="#ffc40d">
        <meta name="theme-color" content="#ffffff">
        <title>
            {% block title %}Indie Cactus{% endblock title %}
            {% block title_suffix %}| Book your accommodation{% endblock title_suffix %}
        </title>
        {# djlint:on #}
        <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700" rel="stylesheet" />
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css" />
        <link rel="stylesheet" id="pagestyle" href="{% static 'assets/css/soft-ui-dashboard.css' %}" />

        {% block extra_css %}
        {% endblock extra_css %}

    </head>
    {# djlint:off #}
    <body class="{% block body_class %}{% endblock body_class %}">
    {# djlint:on #}

    {% block content %}
    {% endblock content %}

    <script type="text/javascript" src="{% static 'assets/js/core/bootstrap.bundle.min.js' %}" defer></script>
    <script type="text/javascript" src="{% static 'assets/js/plugins/perfect-scrollbar.min.js' %}" defer></script>
    <script type="text/javascript" src="{% static 'assets/js/plugins/smooth-scrollbar.min.js' %}" defer></script>
    <script type="text/javascript" src="{% static 'assets/js/plugins/flatpickr.min.js' %}" defer></script>
    <script type="text/javascript" src="{% static 'assets/js/soft-ui-dashboard.js' %}" defer></script>
    <script type="text/javascript" src="{% static 'assets/js/main.js' %}" defer></script>

    {% block modal %}
    {% endblock modal %}

    {% block js %}
    {% endblock js %}

</body>
</html>
