{% extends "layouts/base.html" %}

{% load static %}

{% block title %}
    Payments
{% endblock title %}

{% block content %}
    <div id="wallet_container"></div>
    <a href="{{ preference.init_point }}" class="btn bg-gradient-primary">Pay with MercadoPago</a>
{% endblock content %}

{% block js %}
    {{ preference.id|json_script:"preference_id" }}
    {{ mp_public_key|json_script:"mp_public_key" }}
    <script type="text/javascript" src="https://sdk.mercadopago.com/js/v2" defer></script>
    <script type="text/javascript" src="{% static 'assets/js/payments/mp.js' %}" defer></script>
{% endblock js %}
