{% extends "layouts/base.html" %}

{% load static %}

{% block title %}
    Payment Successful
{% endblock title %}

{% block content %}

    {% include "includes/navigation.html" %}
    {% include "includes/alert.html" %}

    <div class="row">
        <div class="col-xl-4 col-lg-6 col-md-7 col-sm-8 mx-auto">
            <div class="row">
                <div class="col">
                    <div class="card shadow-xl bg-transparent">
                        <div class="bg-gradient-primary border-radius-xl">
                            <div class="card-body position-relative z-index-1 p-3">
                                <h5 class="text-white mt-4 mb-5 pb-2">Your booking is confirmed! 🎉</h5>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row mt-4">
                <div class="col">
                    <div class="row">
                        <div class="col-md-6">
                            <a href="" download="confirmation.pdf">
                                <div class="card">
                                    <div class="card-header mx-4 p-3 text-center">
                                        <div class="icon icon-shape icon-lg bg-gradient-primary shadow text-center border-radius-lg mx-auto">
                                            <i class="bi bi-download opacity-10"></i>
                                        </div>
                                    </div>
                                    <div class="card-body pt-0 p-3 text-center">
                                        <h6 class="text-center mb-0">Download PDF</h6>
                                    </div>
                                </div>
                            </a>
                        </div>
                        <div class="col-md-6 mt-md-0 mt-4">
                            <a href="https://calendar.google.com/calendar/r/eventedit?text=BusTravel&dates=20230129T230000Z/20230130T030000Z&details=For+details,+link+here:+https://falconhunt.xyz/&location=https://goo.gl/maps/iY2wPfJftuGqrqdi8"
                               target="_blank">
                                <div class="card">
                                    <div class="card-header mx-4 p-3 text-center">
                                        <div class="icon icon-shape icon-lg bg-gradient-primary shadow text-center border-radius-lg mx-auto">
                                            <i class="bi bi-calendar-plus-fill opacity-10"></i>
                                        </div>
                                    </div>
                                    <div class="card-body pt-0 p-3 text-center">
                                        <h6 class="text-center mb-0">Add to Calendar</h6>
                                    </div>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <div class="card mt-4">
                        <div class="card-header pb-0 p-3">
                            <div class="row">
                                <div class="col-6 d-flex align-items-center">
                                    <h6 class="mb-0">Your E Ticket</h6>
                                </div>
                                <div class="col-6 text-end">
                                    <button class="btn btn-outline-primary mb-0" href="">Send via Email</button>
                                </div>
                            </div>
                        </div>
                        <div class="card-body p-3">
                            <div class="form-group">
                                <input type="email" class="form-control" id="email" placeholder="name@example.com" required />
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <div class="card mt-4">
                        <div class="card-plain pb-0 p-3">
                            <div class="card-body text-center">
                                <a type="button" class="btn btn-outline-primary" href="{% url 'pages:home' %}">Make another booking</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}

{% block js %}
    <script src="https://cdn.jsdelivr.net/npm/tsparticles-confetti@2.12.0/tsparticles.confetti.bundle.min.js"></script>
    <script>
         confetti({
              particleCount: 800,
              spread: 100,
              origin: {
                   y: 0.6
              },
         });
    </script>
{% endblock js %}
