{% load static %}

<nav class="navbar navbar-expand-lg navbar-light z-index-3 py-3 shadow-none">
    <div class="container-fluid">
        <a class="navbar-brand" href="{% url 'pages:home' %}" rel="tooltip" title="IndieCactus" data-placement="bottom">
            <h3>
                <span class="d-none d-lg-inline">Indie Cactus</span> 🌵
            </h3>
        </a>
        <button class="navbar-toggler shadow-none ms-2"
                type="button"
                data-bs-toggle="collapse"
                data-bs-target="#navigation"
                aria-controls="navigation"
                aria-expanded="false"
                aria-label="Toggle navigation">
            <span class="navbar-toggler-icon mt-2">
                <span class="navbar-toggler-bar bar1"></span>
                <span class="navbar-toggler-bar bar2"></span>
                <span class="navbar-toggler-bar bar3"></span>
            </span>
        </button>
        <div class="collapse navbar-collapse w-100 pt-3 pb-2 py-lg-0" id="navigation">
            <ul class="navbar-nav navbar-nav-hover mx-auto">
                <li class="nav-item mx-2">
                    <a class="nav-link ps-2 d-flex justify-content-between cursor-pointer align-items-center text-dark"
                       role="button"
                       href="{% url 'pages:help' %}">Help
                        <i class="bi bi-question-circle ms-1"></i>
                    </a>
                </li>
            </ul>
            <ul class="navbar-nav">
                <li class="nav-item d-flex align-items-center">
                    <a href="{% url 'pages:get-listed' %}" class="btn btn-sm bg-gradient-primary btn-round mb-0 me-1" role="button">Get Listed</a>
                </li>
                <li class="nav-item">
                    {% if request.user.is_authenticated %}
                        <div class="dropdown nav-link">
                            <a href="#"
                               id="dropdownMenuButton"
                               data-bs-toggle="dropdown"
                               aria-expanded="false"
                               aria-label="Open user menu"
                               type="button">
                                {% with avatar_url=request.user.socialaccount_set.all.0.get_avatar_url %}
                                    {% if avatar_url %}
                                        <img src="{{ avatar_url }}" alt="profile_image" class="avatar avatar-sm rounded-circle" />
                                    {% else %}
                                        <span class="avatar avatar-sm rounded-circle border text-dark">{{ request.user.email|slice:":2"|upper }}</span>
                                    {% endif %}
                                {% endwith %}
                            </a>
                            <ul class="dropdown-menu dropdown-menu-end px-2 py-3" aria-labelledby="dropdownMenuButton">
                                <li>
                                    <a class="dropdown-item border-radius-md" href="">Profile</a>
                                </li>
                                <li>
                                    <a class="dropdown-item border-radius-md" href="">Edit Profile</a>
                                </li>
                                <li>
                                    <hr class="dropdown-divider" />
                                </li>
                                <li>
                                    <a class="dropdown-item border-radius-md" href="{% url 'account_logout' %}">Logout</a>
                                </li>
                            </ul>
                        </div>
                    {% else %}
                        <a href="{% url 'account_login' %}" class="nav-link mt-2">
                            <h5>
                                <i class="bi bi-person-circle"></i>
                            </h5>
                        </a>
                    {% endif %}
                </li>
            </ul>
        </div>
    </div>
</nav>
