{% extends "layouts/base-auth.html" %}

{% load static i18n %}

{% block title %}
  {% trans "Delete Account" %}
{% endblock title %}

{% block content %}
  <div class="d-flex flex-column bg-light min-vh-100">
    <div class="card w-50 m-auto shadow-xl">
      <div class="card-header pb-0">
        <h3 class="font-weight-bolder text-primary text-gradient">{% trans "We're sorry to see you go" %}</h3>
      </div>
      <div class="card-body">
        <p>
          If you'd like to reduce your email notifications, you can disable them here or if you just want to change your username, you can do that too.
        </p>
        <p>
          Be advised, <strong>account deletion is final</strong>. There will be no way to restore your account.
        </p>
        <form method="post">
          {% csrf_token %}
          {% for field in form.visible_fields %}
            <div class="form-check mb-3">
              {{ field }}
              <label class="custom-control-label" for="customCheck1">Confirm delete</label>
              <div class="form-text">{{ field.help_text }}</div>
            </div>
          {% endfor %}
          <a href="{% url 'users:profile' %}" class="btn bg-gradient-light">{% trans "Cancel" %}</a>
          <button type="submit" name="action" class="btn bg-gradient-dark mx-3">{% trans "Delete" %}</button>
        </form>
      </div>
    </div>
  </div>
{% endblock content %}

{% block js %}
  <script>
       const add_form_classes = () => {
            const delete_checkbox = document.querySelector('#id_delete');
            delete_checkbox.classList.add('form-check-input');
       }
       document.addEventListener("DOMContentLoaded", add_form_classes);
  </script>
{% endblock js %}
