{% extends "layouts/base.html" %}

{% load static %}

{% block title %}
  Loading
{% endblock title %}

{% block content %}
  <div class="page page-center min-vh-100 d-flex">
    <div class="container container-slim py-4 my-auto">
      <div class="text-center">
        <div class="mb-3">
          <a href="{% url 'pages:home' %}" class="navbar-brand navbar-brand-autodark">
            <img src="{% static "assets/logos/logo.svg" %}" height="36" alt="Logo for IndieCactus" />
          </a>
        </div>
        <div class="text-muted mb-3">Preparing application</div>
        <p class="placeholder-wave">
          <span class="placeholder bg-primary col-12"></span>
        </p>
      </div>
    </div>
  </div>
{% endblock content %}
